#map { position: absolute; top: 0; bottom: 0; width: 100%; }
/* #marker img{
  height: 50px;
  width: auto;
} */

/* #minimap {
  position: absolute;
  width: 270px;
  height: 180px;
} */
#mapbox-minimap {
  border: solid 2px black;
}

/* .button-list {
  display: inline-block;
} */

.button-item {
  display: inline-block;
}

.lang-button {
  position: relative;
  background-color: #003300;
  color: white;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.lang-button:hover {
  border: solid 2px white;
}